.lab {
    position: relative;
    margin: 40px auto 0;
    width: 42px;
    height: 100px;
}

.lab img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.lab i {
    z-index: 2;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 16px;
    opacity: 0;
    animation: bubble1 linear 3s infinite;
}

.lab i:nth-child(1) {
    animation-name: bubble1;
}

.lab i:nth-child(2) {
    animation-delay: .7s;
    animation-name: bubble2;
}

.lab i:nth-child(3) {
    animation-delay: 1.5s;
    animation-name: bubble1;
}

.lab i:nth-child(4) {
    animation-delay: 2.3s;
    animation-name: bubble2;
}

@keyframes bubble1{
    0%{bottom:1px; left:21px; transform:scale(.1); opacity:1; background:#fff;}
    10%{bottom:5px; left:17px; transform:scale(.2); opacity:1; background:#fff; }
    20%{bottom:10px; left:21px; transform:scale(.2); opacity:1; background:#fff;}
    30%{bottom:15px; left:15px; transform:scale(.3);opacity:1; background:#fff;}
    40%{bottom:19px; left:21px; transform:scale(.4); opacity:1; background:#fff; }
    49%{bottom:19px; left:17px; transform:scale(.4); opacity:1; background:#fff; }
    50%{bottom:19px; left:17px; transform:scale(.5); opacity:1; background:#ff8ab8; }
    60%{bottom:55px; left:21x; transform:scale(.6); }
    70%{bottom:60px; left:16px; transform:scale(.7); }
    80%{bottom:65px; left:21px; transform:scale(.8);}
    90%{bottom:70px; left:17px; transform:scale(1); }
    99%{bottom:73px; left:21px; transform:scale(1); opacity:.5;}
    100%{bottom:73px; left:21px; transform:scale(5); opacity:0; background:#ff8ab8;}
}

@keyframes bubble2{
    0%{bottom:1px; left:13px; transform:scale(.1); opacity:1; background:#fff;}
    10%{bottom:5px; left:18px; transform:scale(.2); opacity:1; background:#fff; }
    20%{bottom:10px; left:13px; transform:scale(.2); opacity:1; background:#fff;}
    30%{bottom:15px; left:18px; transform:scale(.3);opacity:1; background:#fff;}
    40%{bottom:19px; left:13px; transform:scale(.4); opacity:1; background:#fff; }
    49%{bottom:19px; left:18px; transform:scale(.4); opacity:1; background:#fff;}
    50%{bottom:19px; left:18px; transform:scale(.5); opacity:1; background:#61d3ff;}
    60%{bottom:55px; left:13px; transform:scale(.6); }
    70%{bottom:60px; left:18px; transform:scale(.7); }
    80%{bottom:65px; left:13px; transform:scale(.8);}
    90%{bottom:70px; left:18px; transform:scale(1); }
    99%{bottom:73px; left:13px; transform:scale(1); opacity:.5; }
    100%{bottom:73px; left:13px; transform:scale(5); opacity:0; background:#61d3ff;}
}
