/* line 11, ../../template/assets/_sass/style.scss */
body,
html {
  font-family: 'Robotos', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #253138;
  color: red;
}

/* line 20, ../../template/assets/_sass/style.scss */
body.menu-open {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 26, ../../template/assets/_sass/style.scss */
.hide {
  display: none;
}

/* line 32, ../../template/assets/_sass/style.scss */
.wrap-menu {
  height: 100%;
  width: 65px;
  margin-top: 50px;
  position: fixed;
  z-index: 1000;
  float: left;
  background-color: #334C5A;
  transition: width .4s ease-in-out;
}
/* line 42, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu {
  position: relative;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  text-align: center;
}
/* line 50, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu span i {
  color: #fff;
  font-size: 20px;
}
/* line 57, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu:hover .dropdown {
  width: 240px;
}
/* line 62, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown {
  width: 0px;
  height: 318px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #45515D;
  left: 65px;
  top: -1px;
  position: absolute;
}
/* line 71, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li {
  list-style: none;
  overflow: hidden;
}
/* line 75, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.success {
  border-left: 3px solid #62B53C;
}
/* line 79, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.warning {
  border-left: 3px solid #FF9903;
}
/* line 83, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.error {
  border-left: 3px solid #FC412F;
}
/* line 87, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li a, .wrap-menu .item-menu .dropdown li span {
  font-size: 15px;
  font-weight: 300;
  padding: 16px 10px;
  color: #fff;
  display: block;
  text-align: left;
}
/* line 99, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.title:hover {
  background-color: #45515D !important;
}
/* line 102, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.title span {
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
/* line 110, ../../template/assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li:hover, .wrap-menu .item-menu .dropdown li .selected {
  background-color: #1F2933 !important;
}
/* line 120, ../../template/assets/_sass/style.scss */
.wrap-menu a {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
/* line 128, ../../template/assets/_sass/style.scss */
.wrap-menu a .selected {
  border-left: 2px solid red;
}
/* line 139, ../../template/assets/_sass/style.scss */
.wrap-menu ul li.menu-dropdown.actived ul li {
  height: 45px;
}
/* line 145, ../../template/assets/_sass/style.scss */
.wrap-menu ul li.menu-dropdown ul li {
  -webkit-transition: height 0.65s ease;
  -moz-transition: height 0.65s ease;
  -o-transition: height 0.65s ease;
  -ms-transition: height 0.65s ease;
  transition: height 0.65s ease;
  height: 0px;
}
/* line 163, ../../template/assets/_sass/style.scss */
.wrap-menu ul {
  padding-left: 0px;
}
/* line 167, ../../template/assets/_sass/style.scss */
.wrap-menu ul li a {
  text-align: left;
}
/* line 173, ../../template/assets/_sass/style.scss */
.wrap-menu.actived {
  width: 300px;
}

/* line 181, ../../template/assets/_sass/style.scss */
.menu-fade {
  transition: opacity .4s ease-in-out;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  background-color: #000;
}
/* line 190, ../../template/assets/_sass/style.scss */
.menu-fade.actived {
  z-index: 9;
  opacity: .8;
}

/* line 198, ../../template/assets/_sass/style.scss */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1A2A33;
}

/* line 208, ../../template/assets/_sass/style.scss */
.header-widget {
  height: 50px;
  line-height: 50px;
}
/* line 212, ../../template/assets/_sass/style.scss */
.header-widget div {
  padding-left: 7px;
}
/* line 217, ../../template/assets/_sass/style.scss */
.header-widget .profile img {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  height: 30px;
  margin-top: -5px;
  border-radius: 50%;
}
/* line 226, ../../template/assets/_sass/style.scss */
.header-widget .profile p {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 230, ../../template/assets/_sass/style.scss */
.header-widget .profile p a {
  display: inline-block;
  font-weight: 100;
  line-height: 20px;
  font-size: 14px;
  margin-left: 5px;
  width: inherit;
}
/* line 238, ../../template/assets/_sass/style.scss */
.header-widget .profile p a:hover {
  text-decoration: underline;
}
/* line 247, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login a {
  background-color: #2E4450;
  float: right;
  font-weight: 300;
  text-align: right;
  width: 50px;
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}
/* line 260, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .notification {
  cursor: pointer;
  float: right;
  position: relative;
  margin-right: 30px;
}
/* line 265, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .notification i {
  font-size: 18px;
  color: #fff;
}
/* line 270, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .notification .notification-actived {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  top: 11px;
  background: red;
  left: 18px;
}
/* line 283, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .select-branch {
  float: right;
  margin-right: 30px;
}
/* line 288, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 33px;
}
/* line 298, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado {
  float: right;
}
/* line 302, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado .name-user {
  float: left;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}
/* line 309, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado .photo-user {
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  color: #fff;
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 5px;
  line-height: 35px;
  background-color: #ccc;
  display: inline-block;
}
/* line 323, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado a {
  float: right;
  background-color: transparent;
  margin-left: 10px;
  font-size: 12px;
}
/* line 329, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado a:hover {
  text-decoration: underline;
}
/* line 337, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header {
  float: right;
  margin-right: 30px;
  width: 300px;
  margin-top: 8px;
  padding: 0px;
  height: 34px;
  background: rgba(152, 166, 173, 0.3);
  color: #cccccc;
  font-weight: 600;
  border: 1px solid rgba(152, 166, 173, 0.5);
}
/* line 349, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form {
  height: 34px;
  overflow: hidden;
}
/* line 352, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form input {
  width: 87%;
  float: left;
  font-size: 16px;
  outline: none;
  line-height: 34px;
  height: 34px;
  padding: 5px;
  background-color: transparent;
  border: none;
}
/* line 364, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form button {
  background-color: transparent;
  border: none;
  outline: none;
  float: left;
  width: 13%;
  text-align: center;
  height: 34px;
}
/* line 372, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form button i {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 34px;
  background-color: transparent;
}
/* line 389, ../../template/assets/_sass/style.scss */
.header-widget .header-widget-logo {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 50px;
}

/* line 403, ../../template/assets/_sass/style.scss */
.page-content-information {
  background-color: #2f3e47;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;
}
/* line 409, ../../template/assets/_sass/style.scss */
.page-content-information span.title-branch {
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
  display: block;
}
/* line 416, ../../template/assets/_sass/style.scss */
.page-content-information .select-branch {
  width: 100%;
}
/* line 419, ../../template/assets/_sass/style.scss */
.page-content-information .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 40px;
  outline: none;
  width: 100%;
}

/* line 433, ../../template/assets/_sass/style.scss */
.page-content {
  padding-top: 82px;
  padding-left: 120px;
  padding-bottom: 60px;
}
/* line 438, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-player {
  width: 100%;
  height: 456px;
  background-color: #253138;
  overflow: hidden;
}
/* line 444, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-player iframe {
  margin: 0 auto;
  display: block;
}
/* line 449, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-player img {
  max-width: 100%;
  height: auto;
}
/* line 457, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information {
  background-color: #2f3e47;
  padding: 15px 15px;
  overflow: hidden;
  margin-top: 15px;
}
/* line 469, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos {
  float: right;
  color: #fff;
  display: block;
  position: relative;
  width: 24px;
}
/* line 477, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos .fa-star {
  display: none;
  color: #f1c40f;
}
/* line 483, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos.actived .fa-star {
  display: block;
}
/* line 486, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos.actived .fa-star-o {
  display: none;
}
/* line 491, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos i {
  font-size: 24px;
}
/* line 496, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more {
  float: right;
  position: relative;
  width: 24px;
}
/* line 500, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more span {
  cursor: pointer;
  display: block;
  text-align: right;
}
/* line 504, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more span i {
  color: #fff;
  font-size: 24px;
}
/* line 511, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more:hover .box {
  display: block;
}
/* line 516, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box {
  display: none;
  position: absolute;
  z-index: 100;
  top: 24px;
  right: 0px;
  padding: 4px 0;
  width: 120px;
  background-color: #45515D;
}
/* line 525, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 531, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li {
  text-align: left;
  width: 100%;
  padding: 8px 10px;
}
/* line 535, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li a {
  color: #fff;
  width: 100%;
  font-size: 14px;
  display: block;
}
/* line 540, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li a i {
  width: 20px;
  color: #fff;
  font-size: 16px;
}
/* line 555, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-date {
  display: block;
  color: #757575;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
/* line 563, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 567, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title h3 {
  font-size: 26px;
  color: #fff;
  float: left;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 20px;
}
/* line 578, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a {
  width: 24px;
  height: 24px;
  text-align: center;
  float: left;
}
/* line 583, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i {
  font-size: 20px;
  margin-top: 5px;
  color: #fff;
}
/* line 588, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i.fa-html5-actived {
  color: #F16529;
}
/* line 592, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i.fa-bolt-actived {
  color: #D10407;
}
/* line 604, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-description {
  padding-top: 15px;
}
/* line 606, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-description p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
/* line 613, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information hr {
  border-top: 1px solid rgba(238, 238, 238, 0.3);
}
/* line 617, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  width: 100%;
  font-size: 15px;
  margin: 0 0 15px 0;
  box-shadow: none;
  padding-right: 10px;
  resize: none;
  transition: all .3s;
}
/* line 636, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea::-webkit-scrollbar {
  width: 4px;
}
/* line 640, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
/* line 645, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
/* line 649, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* line 654, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
/* line 659, ../../template/assets/_sass/style.scss */
.page-content .page-content-player .page-content-information button {
  float: right;
  color: #fff;
  margin-left: 15px;
}
/* line 677, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-search {
  background-color: #2f3e47;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 682, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-search input[type="text"] {
  padding: 15px 10px;
  width: 90%;
  border: 0px;
  color: #fff;
  outline: 0px;
  font-weight: bold;
  float: left;
  background-color: transparent;
  font-size: 20px;
}
/* line 693, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-search button {
  padding: 15px 10px;
  float: left;
  border: none;
  background-color: transparent;
  width: 10%;
}
/* line 699, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-search button i {
  font-size: 20px;
  color: #fff;
}
/* line 708, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  border-radius: 2px;
}
/* line 714, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title .playlist-icon {
  display: inline-block;
  float: left;
  width: 10%;
  text-align: center;
  margin-top: 5px;
  padding: 4% 0px;
}
/* line 723, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title h2 {
  padding: 4% 0px;
  width: 80%;
  text-align: center;
  color: #fff;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 735, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list {
  background-color: #2f3e47;
  overflow: hidden;
}
/* line 739, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul {
  margin-bottom: 0px;
  height: 540px;
  overflow-y: auto;
}
/* line 744, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar {
  width: 4px;
}
/* line 748, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
/* line 753, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
/* line 757, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* line 761, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li {
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  transition: background 0.6s linear;
}
/* line 766, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.success {
  border-left: 5px solid #62B53C;
}
/* line 770, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.warning {
  border-left: 5px solid #FF9903;
}
/* line 774, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.error {
  border-left: 5px solid #FC412F;
}
/* line 778, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li:hover {
  background-color: #616161;
}
/* line 782, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li:last-child {
  border-bottom: 0px;
}
/* line 786, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a {
  display: block;
  padding: 15px 15px;
}
/* line 790, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.title {
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 700;
}
/* line 796, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.description {
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}
/* line 801, ../../template/assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.publish-date {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
/* line 818, ../../template/assets/_sass/style.scss */
.page-content .single-category .page-playlist-list ul {
  height: auto;
}

/* line 833, ../../template/assets/_sass/style.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 839, ../../template/assets/_sass/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
  letter-spacing: 0.2px;
}
/* line 845, ../../template/assets/_sass/style.scss */
body .wrapper {
  padding: 50px;
}
/* line 849, ../../template/assets/_sass/style.scss */
body.mode-search {
  overflow: hidden;
}
/* line 852, ../../template/assets/_sass/style.scss */
body.mode-search .form,
body.mode-search .icon-close {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
/* line 860, ../../template/assets/_sass/style.scss */
body.mode-search .control .icon-search {
  opacity: 0;
}
/* line 863, ../../template/assets/_sass/style.scss */
body.mode-search .control .btn {
  transform: scale(70);
}

/* line 871, ../../template/assets/_sass/style.scss */
.header {
  position: relative;
  height: 50%;
  width: 100%;
  background: #22313F;
  color: #FFF;
}

/* line 881, ../../template/assets/_sass/style.scss */
.header-content {
  padding: 70px 50px;
}
/* line 883, ../../template/assets/_sass/style.scss */
.header-content h1, .header-content h2 {
  font-weight: 200;
}

/* line 889, ../../template/assets/_sass/style.scss */
.control {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -32px;
  right: 50px;
  cursor: pointer;
}
/* line 897, ../../template/assets/_sass/style.scss */
.control .icon-search,
.control .icon-close {
  transition: 0.2s ease-in-out;
}
/* line 902, ../../template/assets/_sass/style.scss */
.control:hover .btn {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Button */
/*Popup Cadastro*/
/* line 914, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test {
  border-top: 5px solid #334C5A;
}
/* line 916, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test .description {
  width: 100%;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
/* line 927, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test .separador {
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px 0px;
  padding-bottom: 0px;
  font-size: 18px;
  color: #424242;
}
/* line 937, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test .btn-login {
  margin-top: 20px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 944, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test .icon-btn-login {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  height: auto;
}
/* line 950, ../../template/assets/_sass/style.scss */
.login-cadastro-dev-and-test .icon-btn-login span {
  margin-right: 10px;
  display: inline-block;
}

/* line 958, ../../template/assets/_sass/style.scss */
.fade-top, .fade-interno {
  width: 100%;
  z-index: 1100;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: .8;
  top: -100%;
  transition: top 0.5s linear;
}
/* line 968, ../../template/assets/_sass/style.scss */
.fade-top.actived, .fade-interno.actived {
  top: 0;
}

/* line 974, ../../template/assets/_sass/style.scss */
.fade-interno {
  top: 0 !important;
  left: -100%;
  transition: left 0.2s linear !important;
}
/* line 979, ../../template/assets/_sass/style.scss */
.fade-interno.actived {
  left: 0;
}

/* line 985, ../../template/assets/_sass/style.scss */
.group-loading {
  background-color: #fff;
  width: 100%;
  height: 50%;
  top: 22%;
  z-index: 2000;
  text-align: center;
  font-size: 18px;
  left: -100%;
  transition: left 0.2s linear;
}
/* line 996, ../../template/assets/_sass/style.scss */
.group-loading.actived {
  left: 0;
}

/* line 1001, ../../template/assets/_sass/style.scss */
.popup-cadastro {
  overflow: hidden;
  width: 320px;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  top: -100%;
  position: absolute;
  z-index: 1200;
  left: 50%;
  margin-left: -160px;
  height: 500px;
  transition: top 0.5s linear;
}
/* line 1013, ../../template/assets/_sass/style.scss */
.popup-cadastro.actived {
  top: 15%;
}
/* line 1016, ../../template/assets/_sass/style.scss */
.popup-cadastro i {
  float: right;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}
/* line 1022, ../../template/assets/_sass/style.scss */
.popup-cadastro i:hover {
  color: #000;
}

/* line 1032, ../../template/assets/_sass/style.scss */
.gmd-group-input {
  position: relative;
  margin-top: 20px;
}
/* line 1035, ../../template/assets/_sass/style.scss */
.gmd-group-input span {
  position: absolute;
  font-size: 18px;
  left: 5px;
  color: #fff;
  font-weight: 100;
  top: 15px;
  transition: top 0.2s linear;
}
/* line 1044, ../../template/assets/_sass/style.scss */
.gmd-group-input input[type="text"],
.gmd-group-input input[type="password"],
.gmd-group-input input[type="email"],
.gmd-group-input textarea {
  border: 0px;
  background-color: transparent;
  width: 100%;
  color: #fff;
  background-color: #2f3e47;
  padding: 14px 8px;
  font-size: 18px;
  transition: 0.2s linear;
}
/* line 1058, ../../template/assets/_sass/style.scss */
.gmd-group-input textarea {
  padding-top: 12px;
}
/* line 1062, ../../template/assets/_sass/style.scss */
.gmd-group-input input[type="text"]:focus,
.gmd-group-input input[type="password"]:focus,
.gmd-group-input input[type="email"]:focus,
.gmd-group-input textarea:focus {
  outline: 0px;
  border-bottom: 2px solid #334C5A;
}
/* line 1068, ../../template/assets/_sass/style.scss */
.gmd-group-input input[type="text"]:focus ~ span,
.gmd-group-input input[type="password"]:focus ~ span,
.gmd-group-input input[type="email"]:focus ~ span,
.gmd-group-input textarea:focus ~ span {
  font-size: 13px;
  top: 0;
}

/* line 1077, ../../template/assets/_sass/style.scss */
.page-cadastro h1 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
/* line 1084, ../../template/assets/_sass/style.scss */
.page-cadastro p.obs {
  color: #fff;
}

/* line 1092, ../../template/assets/_sass/style.scss */
.card-dark {
  padding-right: 0px;
  position: relative;
}
/* line 1096, ../../template/assets/_sass/style.scss */
.card-dark .long-card {
  z-index: 1;
  height: 387px;
}
/* line 1101, ../../template/assets/_sass/style.scss */
.card-dark .short-card {
  cursor: pointer;
  overflow: visible !important;
  z-index: 10;
  height: 180px;
  position: relative;
}
/* line 1107, ../../template/assets/_sass/style.scss */
.card-dark .short-card:hover {
  box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 15px 0 rgba(255, 255, 255, 0.1);
}
/* line 1109, ../../template/assets/_sass/style.scss */
.card-dark .short-card:hover .list-cases {
  display: block;
  box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 15px 0 rgba(255, 255, 255, 0.1);
}
/* line 1115, ../../template/assets/_sass/style.scss */
.card-dark .short-card .list-cases {
  position: absolute;
  z-index: 1000;
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: none;
  background-color: #1C272D;
  width: 100%;
  left: 0px;
  top: 180px;
}
/* line 1130, ../../template/assets/_sass/style.scss */
.card-dark .card-information {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
  padding: 15px 15px;
  margin-top: 15px;
  overflow: hidden;
}
/* line 1139, ../../template/assets/_sass/style.scss */
.card-dark .card-information .graphic,
.card-dark .card-information .dados {
  width: 50%;
  padding: 1px 0px;
  float: left;
}
/* line 1148, ../../template/assets/_sass/style.scss */
.card-dark .card-information .dados .number {
  display: block;
  text-align: right;
  font-size: 35px;
  line-height: 102px;
  color: #fff;
}
/* line 1156, ../../template/assets/_sass/style.scss */
.card-dark .card-information .dados .date {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #fff;
}
/* line 1166, ../../template/assets/_sass/style.scss */
.card-dark .card-information .select-branch {
  float: left;
  width: 40%;
}
/* line 1170, ../../template/assets/_sass/style.scss */
.card-dark .card-information .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 20px;
  width: 100%;
}
/* line 1180, ../../template/assets/_sass/style.scss */
.card-dark .card-information span.title-card {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 30px;
}
/* line 1189, ../../template/assets/_sass/style.scss */
.card-dark .card-information span.title-total {
  display: inline-block;
  float: left;
  width: 60%;
}
/* line 1198, ../../template/assets/_sass/style.scss */
.card-dark .card-sucess .pie {
  background: conic-gradient(#62B53C 20%, #2f3e47 0);
}
/* line 1204, ../../template/assets/_sass/style.scss */
.card-dark .card-warning .pie {
  background: conic-gradient(#2f3e47 60%, #FF9903 0, #FF9903 100%, #2f3e47 0);
}
/* line 1210, ../../template/assets/_sass/style.scss */
.card-dark .card-alert .pie {
  background: conic-gradient(#2f3e47 20%, #FC412F 0, #FC412F 60%, #2f3e47 0);
}
/* line 1216, ../../template/assets/_sass/style.scss */
.card-dark .number-of-category {
  font-size: 26px;
}
/* line 1220, ../../template/assets/_sass/style.scss */
.card-dark .scrollTable {
  height: 312px;
  overflow: hidden;
  overflow-y: hidden;
}
/* line 1224, ../../template/assets/_sass/style.scss */
.card-dark .scrollTable:hover {
  overflow-y: auto;
}
/* line 1229, ../../template/assets/_sass/style.scss */
.card-dark .list-information {
  width: 100%;
}
/* line 1231, ../../template/assets/_sass/style.scss */
.card-dark .list-information thead {
  border-bottom: 1px solid #fff;
}
/* line 1234, ../../template/assets/_sass/style.scss */
.card-dark .list-information thead tr th {
  color: #fff;
  padding: 5px 5px;
  padding-top: 0px;
  font-size: 15px;
}
/* line 1240, ../../template/assets/_sass/style.scss */
.card-dark .list-information thead tr th.status {
  text-align: center;
}
/* line 1249, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr:hover td {
  background-color: #30414a;
}
/* line 1254, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td {
  padding: 10px 5px;
  color: #D8D7D7;
  font-size: 14px;
  line-height: 1.42857143;
  vertical-align: top;
}
/* line 1262, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td.link a {
  width: 100%;
  display: block;
  color: #fff;
}
/* line 1269, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td.status {
  text-align: center;
}
/* line 1273, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td.success i {
  color: #62B53C;
}
/* line 1280, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td.warning i {
  color: #FF9903;
}
/* line 1286, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td.error i {
  color: #FC412F;
}
/* line 1291, ../../template/assets/_sass/style.scss */
.card-dark .list-information tbody tr td a {
  width: 100%;
  display: block;
}

/* line 1305, ../../template/assets/_sass/style.scss */
.wrap-preview {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
}
/* line 1312, ../../template/assets/_sass/style.scss */
.wrap-preview h2 {
  color: #C1BEBE;
  font-size: 25px;
}
/* line 1316, ../../template/assets/_sass/style.scss */
.wrap-preview img {
  width: 100%;
}

/* line 1321, ../../template/assets/_sass/style.scss */
.wrap-formulario {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
}
/* line 1328, ../../template/assets/_sass/style.scss */
.wrap-formulario h1 {
  color: #C1BEBE;
  font-size: 25px;
}
/* line 1333, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form {
  margin-top: 15px;
}
/* line 1335, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form span {
  color: #98a6ad;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
/* line 1345, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form span.obs {
  font-size: 12px;
  margin-top: 5px;
  font-weight: normal;
  color: #C1BEBE;
}
/* line 1352, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form input[type="text"],
.wrap-formulario form .group-form select,
.wrap-formulario form .group-form textarea {
  padding: 5px 2.5px;
  width: 100%;
  background-color: #394c57;
  border: 2px solid rgba(238, 238, 238, 0.1);
  color: #ffffff;
  height: 36px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* line 1370, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form input[type="text"]:focus,
.wrap-formulario form .group-form select:focus,
.wrap-formulario form .group-form textarea:focus {
  background-color: #435966;
  border: 2px solid rgba(238, 238, 238, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #ffffff;
}
/* line 1380, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-form textarea {
  height: 75px;
}
/* line 1385, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-check label {
  color: #fff;
}
/* line 1390, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-btn {
  width: 100%;
}
/* line 1392, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-btn .btn {
  margin-left: 10px;
  float: right;
}
/* line 1396, ../../template/assets/_sass/style.scss */
.wrap-formulario form .group-btn .btn-reset {
  background-color: #dae6ec;
  border-color: #dae6ec;
  color: #000;
}

/* line 1410, ../../template/assets/_sass/style.scss */
.table-testes table {
  width: 100%;
}
/* line 1415, ../../template/assets/_sass/style.scss */
.table-testes table thead tr th {
  padding: 8px 5px;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  text-align: left;
  color: #fff;
  text-align: center;
}
/* line 1428, ../../template/assets/_sass/style.scss */
.table-testes table tbody tr th {
  color: #fff;
}

/* line 1441, ../../template/assets/_sass/style.scss */
.wrap-controls {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
/* line 1448, ../../template/assets/_sass/style.scss */
.wrap-controls button {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #253138;
  padding: 10px;
  border-radius: 5px;
}
/* line 1455, ../../template/assets/_sass/style.scss */
.wrap-controls button span {
  font-size: 16px;
}
/* line 1459, ../../template/assets/_sass/style.scss */
.wrap-controls button i {
  font-size: 17px;
}

/* line 1467, ../../template/assets/_sass/style.scss */
.fade-search {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 1478, ../../template/assets/_sass/style.scss */
.wrap-campo-busca {
  position: absolute;
  top: 50px;
  background-color: #000;
  width: 100%;
  padding: 30px 0px;
  z-index: 10000;
}
/* line 1487, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .header-busca {
  width: 100%;
  padding: 0px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}
/* line 1492, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .header-busca h6 {
  float: left;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 1499, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .header-busca span {
  float: right;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
}
/* line 1506, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .header-busca span b {
  font-weight: bold;
}
/* line 1516, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul {
  padding-left: 10px;
  list-style: none;
  padding-top: 10px;
}
/* line 1520, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li {
  width: 100%;
}
/* line 1522, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a {
  width: 100%;
  color: #fff;
}
/* line 1525, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a span {
  font-size: 15px;
  font-weight: 200;
}
/* line 1529, ../../template/assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a p {
  font-size: 16px;
}
