/* line 9, ../assets/_sass/style.scss */
body,
html {
  font-family: 'Robotos', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #253138;
  color: blue;
}

/* line 18, ../assets/_sass/style.scss */
body.menu-open {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 24, ../assets/_sass/style.scss */
.hide {
  display: none;
}

/* line 27, ../assets/_sass/style.scss */
.margin-right-20 {
  margin-right: 20px !important;
}

/* line 30, ../assets/_sass/style.scss */
.wrap-menu {
  height: 100%;
  width: 65px;
  margin-top: 50px;
  position: fixed;
  z-index: 1000;
  float: left;
  background-color: #334C5A;
  transition: width .4s ease-in-out;
}
/* line 40, ../assets/_sass/style.scss */
.wrap-menu .item-menu {
  position: relative;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  text-align: center;
}
/* line 49, ../assets/_sass/style.scss */
.wrap-menu .item-menu span .description {
  color: #fff;
}
/* line 53, ../assets/_sass/style.scss */
.wrap-menu .item-menu span i {
  color: #fff;
  font-size: 20px;
}
/* line 60, ../assets/_sass/style.scss */
.wrap-menu .item-menu:hover .dropdown {
  width: 240px;
}
/* line 65, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown {
  width: 0px;
  max-height: 318px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #45515D;
  left: 65px;
  top: -1px;
  position: absolute;
}
/* line 74, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li {
  list-style: none;
  overflow: hidden;
}
/* line 78, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.success {
  border-left: 3px solid #62B53C;
}
/* line 82, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.warning {
  border-left: 3px solid #FF9903;
}
/* line 86, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.error {
  border-left: 3px solid #FC412F;
}
/* line 90, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li a, .wrap-menu .item-menu .dropdown li span {
  font-size: 15px;
  font-weight: 300;
  padding: 16px 10px;
  color: #fff;
  display: block;
  text-align: left;
}
/* line 102, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.title:hover {
  background-color: #45515D !important;
}
/* line 105, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li.title span {
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
/* line 113, ../assets/_sass/style.scss */
.wrap-menu .item-menu .dropdown li:hover, .wrap-menu .item-menu .dropdown li .selected {
  background-color: #1F2933 !important;
}
/* line 123, ../assets/_sass/style.scss */
.wrap-menu a {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
/* line 131, ../assets/_sass/style.scss */
.wrap-menu a .selected {
  border-left: 2px solid red;
}
/* line 142, ../assets/_sass/style.scss */
.wrap-menu ul li.menu-dropdown.actived ul li {
  height: 45px;
}
/* line 148, ../assets/_sass/style.scss */
.wrap-menu ul li.menu-dropdown ul li {
  -webkit-transition: height 0.65s ease;
  -moz-transition: height 0.65s ease;
  -o-transition: height 0.65s ease;
  -ms-transition: height 0.65s ease;
  transition: height 0.65s ease;
  height: 0px;
}
/* line 166, ../assets/_sass/style.scss */
.wrap-menu ul {
  padding-left: 0px;
}
/* line 170, ../assets/_sass/style.scss */
.wrap-menu ul li a {
  text-align: left;
}
/* line 176, ../assets/_sass/style.scss */
.wrap-menu.actived {
  width: 300px;
}

/* line 184, ../assets/_sass/style.scss */
.menu-fade {
  transition: opacity .4s ease-in-out;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  background-color: #000;
}
/* line 193, ../assets/_sass/style.scss */
.menu-fade.actived {
  z-index: 9;
  opacity: .8;
}

/* line 201, ../assets/_sass/style.scss */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1A2A33;
}

/* line 211, ../assets/_sass/style.scss */
.header-widget {
  height: 50px;
  line-height: 50px;
}
/* line 215, ../assets/_sass/style.scss */
.header-widget h1 {
  float: left;
}
/* line 219, ../assets/_sass/style.scss */
.header-widget .icon-mobile-git {
  background: #000;
  float: right;
  text-align: center;
  padding-left: 15px;
  padding-right: 14px;
}
/* line 225, ../assets/_sass/style.scss */
.header-widget .icon-mobile-git i {
  margin: 0px !important;
}
/* line 230, ../assets/_sass/style.scss */
.header-widget div {
  padding-left: 7px;
}
/* line 235, ../assets/_sass/style.scss */
.header-widget .profile img {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  height: 30px;
  margin-top: -5px;
  border-radius: 50%;
}
/* line 244, ../assets/_sass/style.scss */
.header-widget .profile p {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 248, ../assets/_sass/style.scss */
.header-widget .profile p a {
  display: inline-block;
  font-weight: 100;
  line-height: 20px;
  font-size: 14px;
  margin-left: 5px;
  width: inherit;
}
/* line 256, ../assets/_sass/style.scss */
.header-widget .profile p a:hover {
  text-decoration: underline;
}
/* line 265, ../assets/_sass/style.scss */
.header-widget .header-widget-login a {
  background-color: #2E4450;
  float: right;
  font-weight: 300;
  text-align: right;
  width: 50px;
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}
/* line 278, ../assets/_sass/style.scss */
.header-widget .header-widget-login .notification {
  cursor: pointer;
  float: right;
  position: relative;
  margin-right: 30px;
}
/* line 283, ../assets/_sass/style.scss */
.header-widget .header-widget-login .notification i {
  font-size: 18px;
  color: #fff;
}
/* line 288, ../assets/_sass/style.scss */
.header-widget .header-widget-login .notification .notification-actived {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  top: 11px;
  background: red;
  left: 18px;
}
/* line 301, ../assets/_sass/style.scss */
.header-widget .header-widget-login .select-branch {
  float: right;
  margin-right: 30px;
}
/* line 306, ../assets/_sass/style.scss */
.header-widget .header-widget-login .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 33px;
}
/* line 316, ../assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado {
  float: right;
}
/* line 320, ../assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado .name-user {
  float: left;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}
/* line 327, ../assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado .photo-user {
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  color: #fff;
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 5px;
  line-height: 35px;
  background-color: #ccc;
  display: inline-block;
}
/* line 341, ../assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado a {
  float: right;
  background-color: transparent;
  margin-left: 10px;
  font-size: 12px;
}
/* line 347, ../assets/_sass/style.scss */
.header-widget .header-widget-login .wrap-user-logado a:hover {
  text-decoration: underline;
}
/* line 355, ../assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header {
  float: right;
  margin-right: 30px;
  width: 300px;
  margin-top: 8px;
  padding: 0px;
  height: 34px;
  background: rgba(152, 166, 173, 0.3);
  color: #cccccc;
  font-weight: 600;
  border: 1px solid rgba(152, 166, 173, 0.5);
}
/* line 367, ../assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form {
  height: 34px;
  overflow: hidden;
}
/* line 370, ../assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form input {
  width: 87%;
  float: left;
  font-size: 16px;
  outline: none;
  line-height: 34px;
  height: 34px;
  padding: 5px;
  background-color: transparent;
  border: none;
}
/* line 382, ../assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form button {
  background-color: transparent;
  border: none;
  outline: none;
  float: left;
  width: 13%;
  text-align: center;
  height: 34px;
}
/* line 390, ../assets/_sass/style.scss */
.header-widget .header-widget-login .form-search-header form button i {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 34px;
  background-color: transparent;
}
/* line 407, ../assets/_sass/style.scss */
.header-widget .header-widget-logo {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 50px;
  display: inline-block;
}
/* line 408, ../assets/_sass/style.scss */
.header-widget .header-widget-logo a {
  color: #fff;
}

/* line 427, ../assets/_sass/style.scss */
.page-content-information {
  background-color: #2f3e47;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;
}
/* line 433, ../assets/_sass/style.scss */
.page-content-information span.title-branch {
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
  display: block;
}
/* line 440, ../assets/_sass/style.scss */
.page-content-information .select-branch {
  width: 100%;
}
/* line 443, ../assets/_sass/style.scss */
.page-content-information .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 40px;
  outline: none;
  width: 100%;
}

/* line 457, ../assets/_sass/style.scss */
.page-content {
  padding-top: 82px;
  padding-left: 120px;
  padding-bottom: 60px;
}
/* line 462, ../assets/_sass/style.scss */
.page-content .page-content-player .page-player {
  width: 100%;
  height: auto;
  background-color: #253138;
  overflow: hidden;
  margin-top: 30px;
}
/* line 469, ../assets/_sass/style.scss */
.page-content .page-content-player .page-player iframe {
  margin: 0 auto;
  display: block;
}
/* line 474, ../assets/_sass/style.scss */
.page-content .page-content-player .page-player img {
  max-width: 100%;
  height: auto;
}
/* line 482, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information {
  background-color: #2f3e47;
  padding: 15px 15px;
  overflow: hidden;
  margin-top: 15px;
}
/* line 494, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos {
  float: right;
  color: #fff;
  margin-top: 6px;
  display: block;
  position: relative;
  width: 24px;
}
/* line 502, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos .fa-star {
  display: none;
  color: #f1c40f;
}
/* line 508, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos.actived .fa-star {
  display: block;
}
/* line 511, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos.actived .fa-star-o {
  display: none;
}
/* line 516, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .favoritos i {
  font-size: 24px;
}
/* line 521, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status {
  float: right;
  margin-right: 20px;
}
/* line 524, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span {
  cursor: pointer;
  display: inline-block;
  text-align: right;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 6px;
  background: #fff;
  color: #2f3e47;
  margin-right: 10px;
}
/* line 536, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span i {
  color: #2f3e47;
  font-size: 18px;
}
/* line 542, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span.sucess:hover, .page-content .page-content-player .page-content-information .information-options .wrap-status span.sucess.active {
  background-color: #62B53C;
  color: #fff;
  border-color: #62B53C;
}
/* line 546, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span.sucess:hover i, .page-content .page-content-player .page-content-information .information-options .wrap-status span.sucess.active i {
  color: #fff;
}
/* line 553, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span.error:hover, .page-content .page-content-player .page-content-information .information-options .wrap-status span.error.active {
  background-color: #FC412F;
  color: #fff;
  border-color: #FC412F;
}
/* line 557, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .wrap-status span.error:hover i, .page-content .page-content-player .page-content-information .information-options .wrap-status span.error.active i {
  color: #fff;
}
/* line 565, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more {
  float: right;
  position: relative;
  width: 24px;
  margin-top: 7px;
}
/* line 570, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more span {
  cursor: pointer;
  display: block;
  text-align: right;
}
/* line 574, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more span i {
  color: #fff;
  font-size: 24px;
}
/* line 581, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more:hover .box {
  display: block;
}
/* line 586, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box {
  display: none;
  position: absolute;
  z-index: 100;
  top: 24px;
  right: 0px;
  padding: 4px 0;
  width: 120px;
  background-color: #45515D;
}
/* line 595, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 601, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li {
  text-align: left;
  width: 100%;
  padding: 8px 10px;
}
/* line 605, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li a {
  color: #fff;
  width: 100%;
  font-size: 14px;
  display: block;
}
/* line 610, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .information-options .more .box ul li a i {
  width: 20px;
  color: #fff;
  font-size: 16px;
}
/* line 625, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-date {
  display: block;
  color: #757575;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
/* line 633, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 637, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title h3 {
  font-size: 26px;
  color: #fff;
  float: left;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 20px;
}
/* line 647, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type {
  margin-bottom: 5px;
  float: left;
}
/* line 650, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a {
  width: 24px;
  height: 24px;
  text-align: center;
  float: left;
}
/* line 655, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i {
  font-size: 20px;
  margin-top: 5px;
  color: #fff;
}
/* line 660, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i.fa-html5-actived {
  color: #F16529;
}
/* line 664, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .title .select-type a i.fa-bolt-actived {
  color: #D10407;
}
/* line 676, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-description {
  padding-top: 15px;
}
/* line 678, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information .publish-description p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
/* line 685, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information hr {
  border-top: 1px solid rgba(238, 238, 238, 0.3);
}
/* line 689, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  width: 100%;
  font-size: 15px;
  margin: 0 0 15px 0;
  box-shadow: none;
  padding-right: 10px;
  resize: none;
  transition: all .3s;
}
/* line 708, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea::-webkit-scrollbar {
  width: 4px;
}
/* line 712, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
/* line 717, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
/* line 721, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* line 726, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
/* line 731, ../assets/_sass/style.scss */
.page-content .page-content-player .page-content-information button {
  float: right;
  color: #fff;
  margin-left: 15px;
}
/* line 749, ../assets/_sass/style.scss */
.page-content .page-playlist .page-search {
  background-color: #2f3e47;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 754, ../assets/_sass/style.scss */
.page-content .page-playlist .page-search input[type="text"] {
  padding: 15px 10px;
  width: 90%;
  border: 0px;
  color: #fff;
  outline: 0px;
  font-weight: bold;
  float: left;
  background-color: transparent;
  font-size: 20px;
}
/* line 765, ../assets/_sass/style.scss */
.page-content .page-playlist .page-search button {
  padding: 15px 10px;
  float: left;
  border: none;
  background-color: transparent;
  width: 10%;
}
/* line 771, ../assets/_sass/style.scss */
.page-content .page-playlist .page-search button i {
  font-size: 20px;
  color: #fff;
}
/* line 780, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  border-radius: 2px;
}
/* line 787, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title.cat-label h2 {
  float: none;
  padding-bottom: 0px;
}
/* line 791, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title.cat-label p {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 0px;
}
/* line 797, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title.cat-label a {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 3%;
}
/* line 805, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title .btn-clear {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: right;
  background-color: #fff;
  color: #000;
}
/* line 814, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title .playlist-icon {
  display: inline-block;
  float: left;
  width: 10%;
  text-align: center;
  margin-top: 5px;
  padding: 4% 0px;
}
/* line 823, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-title h2 {
  padding: 4% 0px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 836, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list {
  background-color: #2f3e47;
  overflow: hidden;
}
/* line 840, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul {
  margin-bottom: 0px;
  height: 540px;
  overflow-y: auto;
}
/* line 845, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar {
  width: 4px;
}
/* line 849, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
/* line 854, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
/* line 858, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
/* line 862, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li {
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  transition: background 0.6s linear;
}
/* line 866, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.clear {
  background-color: #cecece;
  padding: 12px 21px;
}
/* line 870, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.clear:hover {
  background-color: #cecece;
}
/* line 874, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.clear a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
}
/* line 880, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.clear i {
  float: right;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin-top: 3px;
}
/* line 882, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.clear span {
  color: #000;
  font-size: 16px;
}
/* line 888, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.success {
  border-left: 5px solid #62B53C;
}
/* line 892, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.warning {
  border-left: 5px solid #FF9903;
}
/* line 896, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li.error {
  border-left: 5px solid #FC412F;
}
/* line 900, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li:hover {
  background-color: #616161;
}
/* line 904, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li:last-child {
  border-bottom: 0px;
}
/* line 908, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a {
  display: block;
  padding: 15px 15px;
}
/* line 912, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.title {
  font-size: 18px;
  color: #fff;
  display: block;
  font-weight: 700;
}
/* line 918, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.description {
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  height: auto;
  overflow: hidden;
  text-overflow: inherit;
  width: 100%;
}
/* line 928, ../assets/_sass/style.scss */
.page-content .page-playlist .page-playlist-list ul li a span.publish-date {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
/* line 945, ../assets/_sass/style.scss */
.page-content .single-category .page-playlist-list ul {
  height: auto;
}

/* line 960, ../assets/_sass/style.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 966, ../assets/_sass/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
  letter-spacing: 0.2px;
}
/* line 972, ../assets/_sass/style.scss */
body .wrapper {
  padding: 50px;
}
/* line 976, ../assets/_sass/style.scss */
body.mode-search {
  overflow: hidden;
}
/* line 979, ../assets/_sass/style.scss */
body.mode-search .form,
body.mode-search .icon-close {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
/* line 987, ../assets/_sass/style.scss */
body.mode-search .control .icon-search {
  opacity: 0;
}
/* line 990, ../assets/_sass/style.scss */
body.mode-search .control .btn {
  transform: scale(70);
}

/* line 998, ../assets/_sass/style.scss */
.header {
  position: relative;
  height: 50%;
  width: 100%;
  background: #22313F;
  color: #FFF;
}

/* line 1008, ../assets/_sass/style.scss */
.header-content {
  padding: 70px 50px;
}
/* line 1010, ../assets/_sass/style.scss */
.header-content h1, .header-content h2 {
  font-weight: 200;
}

/* line 1016, ../assets/_sass/style.scss */
.control {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -32px;
  right: 50px;
  cursor: pointer;
}
/* line 1024, ../assets/_sass/style.scss */
.control .icon-search,
.control .icon-close {
  transition: 0.2s ease-in-out;
}
/* line 1029, ../assets/_sass/style.scss */
.control:hover .btn {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Button */
/*Popup Cadastro*/
/* line 1041, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test {
  border-top: 5px solid #334C5A;
}
/* line 1043, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test .description {
  width: 100%;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
/* line 1054, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test .separador {
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px 0px;
  padding-bottom: 0px;
  font-size: 18px;
  color: #424242;
}
/* line 1064, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test .btn-login {
  margin-top: 20px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1071, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test .icon-btn-login {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  height: auto;
}
/* line 1077, ../assets/_sass/style.scss */
.login-cadastro-dev-and-test .icon-btn-login span {
  margin-right: 10px;
  display: inline-block;
}

/* line 1085, ../assets/_sass/style.scss */
.fade-top, .fade-interno {
  width: 100%;
  z-index: 1100;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: .8;
  top: -100%;
  transition: top 0.5s linear;
}
/* line 1095, ../assets/_sass/style.scss */
.fade-top.actived, .fade-interno.actived {
  top: 0;
}

/* line 1101, ../assets/_sass/style.scss */
.fade-interno {
  top: 0 !important;
  left: -100%;
  transition: left 0.2s linear !important;
}
/* line 1106, ../assets/_sass/style.scss */
.fade-interno.actived {
  left: 0;
}

/* line 1112, ../assets/_sass/style.scss */
.group-loading {
  background-color: #fff;
  width: 100%;
  height: 50%;
  top: 22%;
  z-index: 2000;
  position: absolute;
  text-align: center;
  font-size: 18px;
  left: -100%;
  transition: left 0.2s linear;
}
/* line 1123, ../assets/_sass/style.scss */
.group-loading.actived {
  left: 0;
}

/* line 1128, ../assets/_sass/style.scss */
.popup-cadastro {
  overflow: hidden;
  width: 320px;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  top: -100%;
  position: absolute;
  z-index: 1200;
  left: 50%;
  margin-left: -160px;
  height: 500px;
  transition: top 0.5s linear;
}
/* line 1140, ../assets/_sass/style.scss */
.popup-cadastro.actived {
  top: 15%;
}
/* line 1143, ../assets/_sass/style.scss */
.popup-cadastro i {
  float: right;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}
/* line 1149, ../assets/_sass/style.scss */
.popup-cadastro i:hover {
  color: #000;
}

/* line 1159, ../assets/_sass/style.scss */
.gmd-group-input {
  position: relative;
  margin-top: 20px;
}
/* line 1162, ../assets/_sass/style.scss */
.gmd-group-input span {
  position: absolute;
  font-size: 18px;
  left: 5px;
  color: #fff;
  font-weight: 100;
  top: 15px;
  transition: top 0.2s linear;
}
/* line 1171, ../assets/_sass/style.scss */
.gmd-group-input input[type="text"],
.gmd-group-input input[type="password"],
.gmd-group-input input[type="email"],
.gmd-group-input textarea {
  border: 0px;
  background-color: transparent;
  width: 100%;
  color: #fff;
  background-color: #2f3e47;
  padding: 14px 8px;
  font-size: 18px;
  transition: 0.2s linear;
}
/* line 1185, ../assets/_sass/style.scss */
.gmd-group-input textarea {
  padding-top: 12px;
}
/* line 1189, ../assets/_sass/style.scss */
.gmd-group-input input[type="text"]:focus,
.gmd-group-input input[type="password"]:focus,
.gmd-group-input input[type="email"]:focus,
.gmd-group-input textarea:focus {
  outline: 0px;
  border-bottom: 2px solid #334C5A;
}
/* line 1195, ../assets/_sass/style.scss */
.gmd-group-input input[type="text"]:focus ~ span,
.gmd-group-input input[type="password"]:focus ~ span,
.gmd-group-input input[type="email"]:focus ~ span,
.gmd-group-input textarea:focus ~ span {
  font-size: 13px;
  top: 0;
}

/* line 1204, ../assets/_sass/style.scss */
.page-cadastro h1 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
/* line 1211, ../assets/_sass/style.scss */
.page-cadastro p.obs {
  color: #fff;
}

/* line 1219, ../assets/_sass/style.scss */
.card-dark {
  padding-right: 0px;
  position: relative;
}
/* line 1223, ../assets/_sass/style.scss */
.card-dark .long-card {
  z-index: 1;
  height: 387px;
}
/* line 1228, ../assets/_sass/style.scss */
.card-dark .short-card {
  cursor: pointer;
  overflow: visible !important;
  z-index: 10;
  height: 180px;
  position: relative;
}
/* line 1234, ../assets/_sass/style.scss */
.card-dark .short-card:hover {
  box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 15px 0 rgba(255, 255, 255, 0.1);
}
/* line 1236, ../assets/_sass/style.scss */
.card-dark .short-card:hover .list-cases {
  display: block;
  box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 15px 0 rgba(255, 255, 255, 0.1);
}
/* line 1242, ../assets/_sass/style.scss */
.card-dark .short-card .list-cases {
  position: absolute;
  z-index: 1000;
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: none;
  background-color: #1C272D;
  width: 100%;
  left: 0px;
  top: 180px;
}
/* line 1257, ../assets/_sass/style.scss */
.card-dark .card-information {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
  padding: 15px 15px;
  margin-top: 15px;
  overflow-y: auto;
}
/* line 1266, ../assets/_sass/style.scss */
.card-dark .card-information .graphic,
.card-dark .card-information .dados {
  width: 50%;
  padding: 1px 0px;
  float: left;
}
/* line 1275, ../assets/_sass/style.scss */
.card-dark .card-information .dados .number {
  display: block;
  text-align: right;
  font-size: 35px;
  line-height: 102px;
  color: #fff;
}
/* line 1283, ../assets/_sass/style.scss */
.card-dark .card-information .dados .date {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #fff;
}
/* line 1293, ../assets/_sass/style.scss */
.card-dark .card-information .select-branch {
  float: left;
  width: 40%;
}
/* line 1297, ../assets/_sass/style.scss */
.card-dark .card-information .select-branch select {
  background: rgba(152, 166, 173, 0.3);
  border: 1px solid rgba(152, 166, 173, 0.5);
  border-radius: 0px;
  color: #cccccc;
  height: 20px;
  width: 100%;
}
/* line 1307, ../assets/_sass/style.scss */
.card-dark .card-information span.title-card {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 30px;
}
/* line 1316, ../assets/_sass/style.scss */
.card-dark .card-information span.title-total {
  display: inline-block;
  float: left;
  width: 60%;
}
/* line 1325, ../assets/_sass/style.scss */
.card-dark .card-sucess .pie {
  background: conic-gradient(#62B53C 20%, #2f3e47 0);
}
/* line 1331, ../assets/_sass/style.scss */
.card-dark .card-warning .pie {
  background: conic-gradient(#2f3e47 60%, #FF9903 0, #FF9903 100%, #2f3e47 0);
}
/* line 1337, ../assets/_sass/style.scss */
.card-dark .card-alert .pie {
  background: conic-gradient(#2f3e47 20%, #FC412F 0, #FC412F 60%, #2f3e47 0);
}
/* line 1343, ../assets/_sass/style.scss */
.card-dark .number-of-category {
  font-size: 26px;
}
/* line 1347, ../assets/_sass/style.scss */
.card-dark .scrollTable {
  height: 312px;
  overflow: hidden;
  overflow-y: hidden;
}
/* line 1351, ../assets/_sass/style.scss */
.card-dark .scrollTable:hover {
  overflow-y: auto;
}
/* line 1356, ../assets/_sass/style.scss */
.card-dark .list-information {
  width: 100%;
}
/* line 1358, ../assets/_sass/style.scss */
.card-dark .list-information thead {
  border-bottom: 1px solid #fff;
}
/* line 1361, ../assets/_sass/style.scss */
.card-dark .list-information thead tr th {
  color: #fff;
  padding: 5px 5px;
  padding-top: 0px;
  font-size: 15px;
}
/* line 1367, ../assets/_sass/style.scss */
.card-dark .list-information thead tr th.status {
  text-align: center;
}
/* line 1376, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr:hover td {
  background-color: #30414a;
}
/* line 1381, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td {
  padding: 10px 5px;
  color: #D8D7D7;
  font-size: 14px;
  line-height: 1.42857143;
  vertical-align: top;
}
/* line 1389, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td.link a {
  width: 100%;
  display: block;
  color: #fff;
}
/* line 1396, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td.status {
  text-align: center;
}
/* line 1400, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td.success i {
  color: #62B53C;
}
/* line 1407, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td.warning i {
  color: #FF9903;
}
/* line 1413, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td.error i {
  color: #FC412F;
}
/* line 1418, ../assets/_sass/style.scss */
.card-dark .list-information tbody tr td a {
  width: 100%;
  display: block;
}

/* line 1432, ../assets/_sass/style.scss */
.wrap-preview {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
}
/* line 1439, ../assets/_sass/style.scss */
.wrap-preview h2 {
  color: #C1BEBE;
  font-size: 25px;
}
/* line 1443, ../assets/_sass/style.scss */
.wrap-preview img {
  width: 100%;
}

/* line 1448, ../assets/_sass/style.scss */
.wrap-formulario {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
}
/* line 1455, ../assets/_sass/style.scss */
.wrap-formulario h1 {
  color: #C1BEBE;
  font-size: 25px;
}
/* line 1460, ../assets/_sass/style.scss */
.wrap-formulario form .group-form {
  margin-top: 15px;
}
/* line 1462, ../assets/_sass/style.scss */
.wrap-formulario form .group-form span {
  color: #98a6ad;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
/* line 1472, ../assets/_sass/style.scss */
.wrap-formulario form .group-form span.obs {
  font-size: 12px;
  margin-top: 5px;
  font-weight: normal;
  color: #C1BEBE;
}
/* line 1479, ../assets/_sass/style.scss */
.wrap-formulario form .group-form input[type="text"],
.wrap-formulario form .group-form select,
.wrap-formulario form .group-form textarea {
  padding: 5px 2.5px;
  width: 100%;
  background-color: #394c57;
  border: 2px solid rgba(238, 238, 238, 0.1);
  color: #ffffff;
  height: 36px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* line 1497, ../assets/_sass/style.scss */
.wrap-formulario form .group-form input[type="text"]:focus,
.wrap-formulario form .group-form select:focus,
.wrap-formulario form .group-form textarea:focus {
  background-color: #435966;
  border: 2px solid rgba(238, 238, 238, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #ffffff;
}
/* line 1507, ../assets/_sass/style.scss */
.wrap-formulario form .group-form textarea {
  height: 75px;
}
/* line 1512, ../assets/_sass/style.scss */
.wrap-formulario form .group-check label {
  color: #fff;
}
/* line 1517, ../assets/_sass/style.scss */
.wrap-formulario form .group-btn {
  width: 100%;
}
/* line 1519, ../assets/_sass/style.scss */
.wrap-formulario form .group-btn .btn {
  margin-left: 10px;
  float: right;
}
/* line 1523, ../assets/_sass/style.scss */
.wrap-formulario form .group-btn .btn-reset {
  background-color: #dae6ec;
  border-color: #dae6ec;
  color: #000;
}

/* line 1537, ../assets/_sass/style.scss */
.table-testes table {
  width: 100%;
}
/* line 1542, ../assets/_sass/style.scss */
.table-testes table thead tr th {
  padding: 8px 5px;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  text-align: left;
  color: #fff;
  text-align: center;
}
/* line 1555, ../assets/_sass/style.scss */
.table-testes table tbody tr th {
  color: #fff;
}

/* line 1568, ../assets/_sass/style.scss */
.wrap-controls {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
/* line 1575, ../assets/_sass/style.scss */
.wrap-controls button {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #253138;
  padding: 10px;
  border-radius: 5px;
}
/* line 1582, ../assets/_sass/style.scss */
.wrap-controls button span {
  font-size: 16px;
}
/* line 1586, ../assets/_sass/style.scss */
.wrap-controls button i {
  font-size: 17px;
}

/* line 1594, ../assets/_sass/style.scss */
.fade-search {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 1605, ../assets/_sass/style.scss */
.wrap-campo-busca {
  position: absolute;
  top: 50px;
  background-color: #000;
  width: 100%;
  padding: 30px 0px;
  z-index: 10000;
}
/* line 1614, ../assets/_sass/style.scss */
.wrap-campo-busca .header-busca {
  width: 100%;
  padding: 0px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}
/* line 1619, ../assets/_sass/style.scss */
.wrap-campo-busca .header-busca h6 {
  float: left;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
/* line 1626, ../assets/_sass/style.scss */
.wrap-campo-busca .header-busca span {
  float: right;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
}
/* line 1633, ../assets/_sass/style.scss */
.wrap-campo-busca .header-busca span b {
  font-weight: bold;
}
/* line 1643, ../assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul {
  padding-left: 10px;
  list-style: none;
  padding-top: 10px;
}
/* line 1647, ../assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li {
  width: 100%;
}
/* line 1649, ../assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a {
  width: 100%;
  color: #fff;
}
/* line 1652, ../assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a span {
  font-size: 15px;
  font-weight: 200;
}
/* line 1656, ../assets/_sass/style.scss */
.wrap-campo-busca .container-busca ul li a p {
  font-size: 16px;
}

/* line 1667, ../assets/_sass/style.scss */
.description {
  display: none;
}

/* line 1670, ../assets/_sass/style.scss */
.show-mobile {
  display: none !important;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 15px 5px;
  padding-left: 10px;
}
/* line 1678, ../assets/_sass/style.scss */
.show-mobile.mobile-bg-black {
  display: block;
  background-color: #1A2A33;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
/* line 1684, ../assets/_sass/style.scss */
.show-mobile .title-menu {
  float: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  text-transform: uppercase;
}
/* line 1695, ../assets/_sass/style.scss */
.show-mobile .icon-login img {
  width: 20px;
  margin-right: 10px;
}
/* line 1702, ../assets/_sass/style.scss */
.show-mobile i {
  float: right;
  font-size: 18px;
  margin-right: 12px;
}

/* line 1710, ../assets/_sass/style.scss */
.wrap-busca-mobile {
  height: 51px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  background-color: #334c5a;
  position: relative;
}
/* line 1718, ../assets/_sass/style.scss */
.wrap-busca-mobile i {
  position: absolute;
  top: 14px;
  left: 12px;
  font-size: 20px;
  color: #fff;
}
/* line 1726, ../assets/_sass/style.scss */
.wrap-busca-mobile input {
  width: 100%;
  height: 51px;
  padding: 0px 25px 0px 35px;
  background-color: transparent;
  border: 0px;
  color: #fff;
  font-size: 16px;
  outline: 0;
  margin-top: -15px;
}
/* line 1737, ../assets/_sass/style.scss */
.wrap-busca-mobile input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}
/* line 1742, ../assets/_sass/style.scss */
.wrap-busca-mobile input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 16px;
}
/* line 1747, ../assets/_sass/style.scss */
.wrap-busca-mobile input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 16px;
}
/* line 1752, ../assets/_sass/style.scss */
.wrap-busca-mobile input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

/* line 1760, ../assets/_sass/style.scss */
.fade-menu-mobile {
  width: 100%;
  position: absolute;
  top: 103px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  z-index: 100;
}
/* line 1769, ../assets/_sass/style.scss */
.fade-menu-mobile ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.53);
  background-color: #000;
  padding-left: 15px;
  padding-top: 10px;
  overflow: hidden;
}
/* line 1777, ../assets/_sass/style.scss */
.fade-menu-mobile ul li:last-child {
  border-bottom: 0px;
}

/* line 1786, ../assets/_sass/style.scss */
.hide-desktop {
  display: none;
}

/* line 1790, ../assets/_sass/style.scss */
.hide-mobile {
  display: block;
}

@media (max-width: 768px) {
  /* line 1799, ../assets/_sass/style.scss */
  .header-widget .header-widget-login .name-user {
    display: none;
  }
  /* line 1804, ../assets/_sass/style.scss */
  .header-widget .header-widget-login .form-search-header {
    width: 150px;
  }

  /* line 1811, ../assets/_sass/style.scss */
  .card-dark .scrollTable {
    overflow: auto;
    overflow-y: auto;
  }

  /* line 1818, ../assets/_sass/style.scss */
  .page-content {
    padding-left: 64px;
    padding-top: 54px;
  }

  /* line 1823, ../assets/_sass/style.scss */
  .wrap-preview,
  .page-playlist {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  /* line 1833, ../assets/_sass/style.scss */
  .select-type,
  .form-search-header,
  .more,
  .hide-mobile,
  .name-user,
  li.clear {
    display: none;
  }

  /* line 1842, ../assets/_sass/style.scss */
  .hide-desktop {
    display: inline-block;
  }

  /* line 1846, ../assets/_sass/style.scss */
  .hide-mobile {
    display: none !important;
  }

  /* line 1851, ../assets/_sass/style.scss */
  .description {
    display: inline-block;
    margin-top: 2px;
  }

  /* line 1856, ../assets/_sass/style.scss */
  .fade-top,
  .fade-interno {
    z-index: 100;
  }

  /* line 1862, ../assets/_sass/style.scss */
  .header-widget-logo i {
    margin-left: 0px;
    padding: 0px;
    margin-right: 15px;
    font-size: 20px;
  }

  /* line 1871, ../assets/_sass/style.scss */
  .wrap-select-mobile-menu {
    height: 51px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  }
  /* line 1877, ../assets/_sass/style.scss */
  .wrap-select-mobile-menu select {
    width: 100%;
    height: 100%;
  }
  /* line 1881, ../assets/_sass/style.scss */
  .wrap-select-mobile-menu i {
    position: absolute;
    top: 15px;
    right: 0;
  }

  /* line 1890, ../assets/_sass/style.scss */
  .show-mobile {
    display: block !important;
  }

  /* line 1894, ../assets/_sass/style.scss */
  .wrap-menu {
    width: 80%;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    left: -100%;
  }
  /* line 1901, ../assets/_sass/style.scss */
  .wrap-menu.active {
    left: 0;
  }
  /* line 1905, ../assets/_sass/style.scss */
  .wrap-menu .item-menu {
    padding-left: 10px;
    position: initial;
  }
  /* line 1910, ../assets/_sass/style.scss */
  .wrap-menu .item-menu.active .dropdown {
    left: 0;
  }
  /* line 1915, ../assets/_sass/style.scss */
  .wrap-menu .item-menu span {
    overflow: hidden;
    display: block;
  }
  /* line 1918, ../assets/_sass/style.scss */
  .wrap-menu .item-menu span i {
    float: left;
    margin-right: 15px;
    width: 20px;
  }
  /* line 1923, ../assets/_sass/style.scss */
  .wrap-menu .item-menu span .description {
    font-size: 14px;
    float: left;
  }
  /* line 1930, ../assets/_sass/style.scss */
  .wrap-menu .item-menu .dropdown {
    left: -100%;
    width: 100% !important;
    top: 52px;
    height: 100%;
    z-index: 100;
    -webkit-transition-duration: .5s;
    /* Safari */
    transition-duration: .5s;
    background-color: #334c5a;
  }
  /* line 1940, ../assets/_sass/style.scss */
  .wrap-menu .item-menu .dropdown .title {
    padding-left: 20px;
    background: #253138 !important;
  }
  /* line 1944, ../assets/_sass/style.scss */
  .wrap-menu .item-menu .dropdown .title :hover {
    background: #253138 !important;
  }
  /* line 1948, ../assets/_sass/style.scss */
  .wrap-menu .item-menu .dropdown .title i {
    position: absolute;
    left: 10px;
    top: 16px;
    font-size: 18px;
    color: #fff;
  }
  /* line 1958, ../assets/_sass/style.scss */
  .wrap-menu .item-menu .dropdown li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  }
  /* line 1964, ../assets/_sass/style.scss */
  .wrap-menu .item-menu, .wrap-menu a {
    text-align: left;
  }

  /* line 1969, ../assets/_sass/style.scss */
  .page-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
  }
  /* line 1973, ../assets/_sass/style.scss */
  .page-content .page-playlist {
    margin-top: 30px;
  }
  /* line 1977, ../assets/_sass/style.scss */
  .page-content .page-playlist .page-playlist-list ul {
    height: auto;
    overflow: auto;
  }
  /* line 1985, ../assets/_sass/style.scss */
  .page-content .page-playlist .page-playlist-title h2 {
    font-size: 20px;
    padding: 5% 0px;
  }
  /* line 1994, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-player {
    width: 100%;
    height: 0px;
    margin: 0 auto;
    margin-top: 8px;
    padding-bottom: 56.63%;
    height: 0px !important;
    position: relative;
  }
  /* line 2002, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-player iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
  /* line 2009, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-content-information {
    padding: 15px 0px;
  }
  /* line 2013, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-content-information .publish-description p {
    font-size: 15px;
  }
  /* line 2019, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-content-information .favoritos {
    margin-top: -50px !important;
  }
  /* line 2023, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-content-information .wrap-status {
    margin-top: 15px;
  }
  /* line 2028, ../assets/_sass/style.scss */
  .page-content .page-content-player .page-content-information .publish-date {
    font-size: 15px;
  }

  /* line 2037, ../assets/_sass/style.scss */
  .card-dark {
    padding: 0px;
  }
  /* line 2039, ../assets/_sass/style.scss */
  .card-dark .scrollTable {
    height: auto;
    overflow: auto;
    overflow-y: auto;
  }

  /* line 2046, ../assets/_sass/style.scss */
  .page-player {
    height: auto !important;
  }
  /* line 2048, ../assets/_sass/style.scss */
  .page-player iframe {
    width: 100%;
    height: 100%;
  }

  /* line 2056, ../assets/_sass/style.scss */
  .wrap-controls button {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 8px;
  }
}
/* line 2066, ../assets/_sass/style.scss */
pre {
  padding: 0px;
  border: 1px solid #20201d;
  background-color: #20201d;
}

/* line 2072, ../assets/_sass/style.scss */
.wrap-labels {
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 2078, ../assets/_sass/style.scss */
.wrap-labels span {
  margin-bottom: 5px;
  display: inline-block;
}

/* line 2085, ../assets/_sass/style.scss */
.wrap-labels-select {
  list-style: none;
  padding: 0px;
  margin-top: 15px;
}
/* line 2089, ../assets/_sass/style.scss */
.wrap-labels-select li {
  overflow: hidden;
  width: 100%;
  height: 35px;
  cursor: pointer;
  padding: 0px 5px;
  line-height: 35px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}
/* line 2097, ../assets/_sass/style.scss */
.wrap-labels-select li:hover {
  background-color: #616161;
}
/* line 2101, ../assets/_sass/style.scss */
.wrap-labels-select li.active i {
  opacity: 1;
}
/* line 2105, ../assets/_sass/style.scss */
.wrap-labels-select li .color, .wrap-labels-select li i, .wrap-labels-select li span {
  float: left;
}
/* line 2108, ../assets/_sass/style.scss */
.wrap-labels-select li span {
  color: #fff;
}
/* line 2111, ../assets/_sass/style.scss */
.wrap-labels-select li .color {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #cecece;
  margin-right: 10px;
  margin-top: 9px;
}
/* line 2119, ../assets/_sass/style.scss */
.wrap-labels-select li i {
  margin-top: 8px;
  font-size: 16px;
  color: #fff;
  opacity: 0;
}
/* line 2124, ../assets/_sass/style.scss */
.wrap-labels-select li i.fa-check {
  margin-right: 20px;
}
/* line 2127, ../assets/_sass/style.scss */
.wrap-labels-select li i.fa-times {
  float: right;
}

/* line 2135, ../assets/_sass/style.scss */
.label {
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 5px;
}

/* line 2143, ../assets/_sass/style.scss */
.wrap-color ul {
  overflow: hidden;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 2148, ../assets/_sass/style.scss */
.wrap-color ul li {
  float: left;
  position: relative;
}
/* line 2152, ../assets/_sass/style.scss */
.wrap-color ul li input[type="radio"] {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  margin-left: 0px;
  z-index: 100;
  opacity: 0;
}
/* line 2166, ../assets/_sass/style.scss */
.wrap-color ul li input[type="radio"]:checked + span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* line 2175, ../assets/_sass/style.scss */
.wrap-color ul li input[type="radio"]:checked + span:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 15px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  z-index: 1;
}
/* line 2198, ../assets/_sass/style.scss */
.wrap-color ul li span {
  width: 25px;
  cursor: pointer;
  height: 25px;
  margin-bottom: 0px !important;
  display: block;
  position: relative;
}
