// //Variaveis Cores - https://goo.gl/DjV1yw
$cor_header : #334C5A;
$cor_body : #253138;
$cor_box : #2f3e47;

$cor_link_menu: #DF494A;
$cor_sub_link_menu : #FFFFFF;

body,
html{
  font-family: 'Robotos', sans-serif;
  height: 100%;
  width: 100%;
  background-color: $cor_body;
  color: blue;
}

body.menu-open{
  overflow-y: hidden;
  overflow-x: hidden;
}


.hide{
  display: none;
}
.margin-right-20{margin-right: 20px!important;}

//MENU
.wrap-menu{
  height: 100%;
  width: 65px;
  margin-top: 50px;
  position: fixed;
  z-index: 1000;
  float: left;
  background-color: $cor_header;
  transition: width .4s ease-in-out;

  .item-menu{
    position: relative;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    text-align: center;
    span{

      .description{
        color: #fff;
      }

      i{
        color:#fff;
        font-size: 20px;
      }
    }

    &:hover{
      .dropdown{
        width: 240px;
      }
    }

    .dropdown{
      width: 0px;
      max-height: 318px;
      overflow: hidden;
      overflow-y: auto;
      background-color: #45515D;
      left: 65px;
      top:-1px;
      position: absolute;
      li{
        list-style: none;
        overflow: hidden;

        &.active {
          background-color: #1F2933!important;
        }

        &.success{
          border-left: 3px solid #62B53C ;
        }

        &.warning{
          border-left: 3px solid #FF9903 ;
        }

        &.error{
          border-left: 3px solid #FC412F ;
        }

        a,span{
          font-size: 15px;
          font-weight: 300;
          padding: 16px 10px;
          color: #fff;
          display: block;
          text-align: left;
        }

        a.item-disabled{
          font-size: 15px;
          cursor: default;
          color: rgb(142, 140, 140);
        }

        &.title{

          &:hover{
            background-color: #45515D!important;
          }
          span{
            cursor: pointer;
            width: 100%;
            font-weight: bold;
          }

        }

        &:hover ,  .selected{
          background-color: #1F2933!important;
        }

      }

    }

  }

  a{
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color:#fff;

    & .selected{
      border-left: 2px solid red;
    }
  }


  ul{
    li{
      &.menu-dropdown{
        &.actived{
          ul{
            li{
              height: 45px;
            }
          }
        }//END HOVER
        ul{
          li{
            -webkit-transition: height 0.65s ease;
            -moz-transition: height 0.65s ease;
            -o-transition: height 0.65s ease;
            -ms-transition: height 0.65s ease;
            transition: height 0.65s ease;
            height:0px;
          }
        }

      }


    }
  }



  ul{
    padding-left: 0px;
    li{

      a{
        text-align: left;
      }
    }
  }

  &.actived{
    width: 300px;
  }

}



.menu-fade{
  transition: opacity .4s ease-in-out;
  position: absolute;

  opacity:0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  background-color: #000;
  &.actived{
    z-index: 9;
    opacity: .8;
  }
}

//HEADER

header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1A2A33;
}




.header-widget{
  height: 50px;
  line-height: 50px;

  h1{
    float: left;
  }

  .icon-mobile-git{
    background: #000;
    float: right;
    text-align: center;
    padding-left: 15px;
    padding-right: 14px;
    i{
      margin: 0px!important;
    }
  }

  div{
    padding-left: 7px;
  }

  .profile{
    img{
      display: inline-block;
      width: 30px;
      margin-right: 10px;
      height: 30px;
      margin-top: -5px;
      border-radius: 50%;
    }

    p{
      display: inline-block;
      font-size: 16px;
      color:#fff;
      a{
        display: inline-block;
        font-weight: 100;
        line-height: 20px;
        font-size: 14px;
        margin-left: 5px;
        width: inherit;

        &:hover{
          text-decoration: underline;
        }
      }
    }

  }

  .header-widget-login{
    a{
      background-color: #2E4450;
      float:right;
      font-weight: 300;
      text-align: right;
      width: 50px;
      display: block;
      color: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 50px;
    }

    .notification{
      cursor: pointer;
      float: right;
      position: relative;
      margin-right: 30px;
      i{
        font-size: 18px;
        color: #fff;
      }

      .notification-actived{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        top: 11px;
        background: red;
        left: 18px;
      }

    }

    .select-branch{
      float: right;

      margin-right: 30px;

      select{
        background: rgba(152, 166, 173, 0.3);
        border: 1px solid rgba(152, 166, 173, 0.5);
        border-radius: 0px;
        color: #cccccc;
        height: 33px;
      }

    }

    .wrap-user-logado{
      float: right;


      .name-user{
        float: left;
        color: #fff;
        font-size: 16px;
        margin-right: 10px;
      }

      .photo-user{
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        color: #fff;
        width: 35px;
        height: 35px;
        float: left;
        margin-top: 5px;
        line-height: 35px;
        display: inline-block;
      }

      a{
        float: right;
        background-color: transparent;
        margin-left: 10px;
        font-size: 12px;

        &:hover{
          text-decoration: underline;
        }
      }


    }

    .form-search-header{
      float: right;
      margin-right: 30px;
      width: 300px;
      margin-top: 8px;
      padding: 0px;
      height: 34px;
      background: rgba(152, 166, 173, 0.3);
      color: #cccccc;
      font-weight: 600;
      border: 1px solid rgba(152, 166, 173, 0.5);

      form{
        height: 34px;
        overflow: hidden;
        input{
          width: 87%;
          float: left;
          font-size: 16px;
          outline: none;
          line-height: 34px;
          height: 34px;
          padding: 5px;
          background-color: transparent;
          border: none;
        }

        button{
          background-color: transparent;
          border: none;
          outline: none;
          float: left;
          width: 13%;
          text-align: center;
          height: 34px;
          i{

            display: block;
            margin: 0 auto;
            padding-top: 8px;
            height: 34px;
            background-color: transparent;
          }
        }

      }


    }

  }

  .header-widget-logo{
    a{
      color:#fff;
    }

    color:#fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 50px;
    display: inline-block;

  }

}



//Page Content

.page-content-information{
  background-color: $cor_box;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;

  span.title-branch{
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
    display: block;
  }

  .select-branch{
    width: 100%;

    select{
      background: rgba(152, 166, 173, 0.3);
      border: 1px solid rgba(152, 166, 173, 0.5);
      border-radius: 0px;
      color: #cccccc;
      height: 40px;
      outline: none;
      width: 100%;
    }
  }
}



.page-content{
  padding-top: 82px;
  padding-left: 120px;
  padding-bottom: 60px;
  .page-content-player{
    .page-player{
      width: 100%;
      height:auto;
      background-color: #253138;
      overflow: hidden;
      margin-top: 30px;

      iframe{
        margin: 0 auto;
        display: block;
      }

      img{
        max-width: 100%;
        height: auto;
      }

    }


    .page-content-information{
      background-color: $cor_box;
      padding: 15px 15px;
      overflow: hidden;
      margin-top: 15px;





      .information-options{

        .favoritos{
          float: right;
          color:#fff;
          margin-top: 6px;
          display: block;
          position: relative;
          width: 24px;

          .fa-star{
            display: none;
            color: #f1c40f ;
          }

          &.actived{
            .fa-star{
              display: block;
            }
            .fa-star-o{
              display: none;
            }
          }

          i{
            font-size: 24px;
          }
        }

        .wrap-status{
          float: right;
          margin-right: 20px;
          span{
            cursor: pointer;
            display: inline-block;
            text-align: right;
            border: 1px solid #fff;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            padding: 6px;
            background: #fff;
            color: #2f3e47;
            margin-right: 10px;
            i{
              color:#2f3e47;
              font-size: 18px;
            }

            &.sucess{
              &:hover,&.active{
                background-color: #62B53C;
                color: #fff;
                border-color: #62B53C;
                i{
                  color: #fff;
                }
              }
            }

            &.error{
              &:hover,&.active{
                background-color: #FC412F;
                color: #fff;
                border-color: #FC412F;
                i{
                  color: #fff;
                }
              }
            }
          }
        }

        .more{
          float: right;
          position: relative;
          width: 24px;
          margin-top:7px;
          span{
            cursor: pointer;
            display: block;
            text-align: right;
            i{
              color:#fff;
              font-size: 24px;
            }
          }

          &:hover{
            .box{
              display: block;
            }
          }

          .box{
            display: none;
            position: absolute;
            z-index: 100;
            top: 24px;
            right:0px;
            padding: 4px 0;
            width: 120px;
            background-color: #45515D;
            ul{
              list-style: none;
              width: 100%;
              padding-left: 0px;
              padding-bottom: 0px;
              margin-bottom: 0px;
              li{
                text-align: left;
                width: 100%;
                padding: 8px 10px;
                a{
                  color: #fff;
                  width: 100%;
                  font-size: 14px;
                  display: block;
                  i{
                    width: 20px;
                    color: #fff;
                    font-size: 16px;
                  }
                }
              }
            }
          }//Box

        }

      }


      .publish-date{
        display: block;
        color:#757575;
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
      }

      .title{
        width: 100%;
        display: block;
        overflow: hidden;
        h3{
          font-size: 26px;
          color: #fff;
          float: left;
          font-weight: 500;
          margin-top: 0px;
          margin-bottom: 5px;
          margin-right: 20px;
        }

        .select-type{
          margin-bottom: 5px;
          float: left;
          a{
            width: 24px;
            height: 24px;
            text-align: center;
            float:left;
            i{
              font-size: 20px;
              margin-top: 5px;
              color: #fff;

              &.fa-html5-actived{
                color:#F16529;
              }

              &.fa-bolt-actived{
                color:#D10407;
              }

            }
          }
        }

      }



      .publish-description{
        padding-top: 15px;
        p{
          color: #fff;
          font-size: 15px;
          font-weight: normal;
        }
      }

      hr{
        border-top: 1px solid rgba(238, 238, 238, 0.3);
      }

      textarea{
        width: 100%;
        color:#fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        width: 100%;
        font-size: 15px;
        margin: 0 0 15px 0;
        box-shadow: none;
        padding-right: 10px;
        resize: none;
        transition: all .3s;
      }



      textarea::-webkit-scrollbar {
          width: 4px;
      }

      ::-webkit-scrollbar-track {
          border-radius: 10px;
          background: #eee;
      }

      ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: #888;
      }
      ::-webkit-scrollbar-thumb:window-inactive {
          background: rgba(100,100,100,0.4);
      }


      textarea:focus:not([readonly]){
        border-bottom: 1px solid #26a69a;
        box-shadow: 0 1px 0 0 #26a69a;
      }

      button{
        float: right;
        color:#fff;
        margin-left: 15px;

      }


    }




  }//END page-content-player


  .page-playlist{

    .page-search{
      background-color: $cor_box;
      margin-bottom: 15px;
      overflow: hidden;

      input[type="text"]{
        padding: 15px 10px;
        width: 90%;
        border: 0px;
        color:#fff;
        outline: 0px;
        font-weight: bold;
        float: left;
        background-color: transparent;
        font-size: 20px;
      }
      button{
        padding: 15px 10px;
        float: left;
        border: none;
        background-color: transparent;
        width: 10%;
        i{
          font-size: 20px;
          color:#fff;
        }

      }

    }

    .page-playlist-title{
      width: 100%;
      overflow: hidden;
      background-color: #000;
      border-radius: 2px;

      &.cat-label{
        h2{
          float: none;
          padding-bottom:0px;
        }
        p{
          text-align: center;
          color: #fff;
          margin-top:5px;
          margin-bottom: 0px;
        }
        a{
          text-align: center;
          display: block;
          width: 100%;
          margin-bottom: 3%;
        }
      }

      .btn-clear{
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        float: right;
        background-color: #fff;
        color: #000;
      }

      .playlist-icon{
        display: inline-block;
        float: left;
        width: 10%;
        text-align: center;
        margin-top: 5px;
        padding: 4% 0px;
      }

      h2{
        padding: 4% 0px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color:#fff;
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }


    .page-playlist-list{
      background-color: $cor_box;
      overflow: hidden;

      ul{
        margin-bottom: 0px;
        height: 540px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #eee;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #888;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(100,100,100,0.4);
        }

        li{
          border-bottom: 1px solid rgba(238, 238, 238, 0.3);
          transition: background 0.2s linear;

          &.active {
            background-color: #616161;
            a {
              cursor: default;
            }
          }

          &.clear{
            background-color: #cecece;
            padding: 12px 21px;

            &:hover{
              background-color: #cecece;
            }

            a{
              width: 100%;
              height: 100%;
              display: block;
              padding: 0px;
            }
            i{float: right;color: rgba(0,0,0, 0.8);font-size: 16px;margin-top: 3px;}

            span{
              color: #000;
              font-size: 16px;
            }
          }

          &.success{
            border-left: 5px solid #62B53C ;
          }

          &.warning{
            border-left: 5px solid #FF9903 ;
          }

          &.error{
            border-left: 5px solid #FC412F ;
          }

          &:hover{
            background-color: #616161;
          }

          &:last-child{
            border-bottom: 0px;
          }

          a{
            display: block;
            padding: 15px 15px;
            span{
              &.title{
                font-size: 18px;
                color:#fff;
                display: block;
                font-weight: 700;
              }
              &.description{
                font-size: 15px;
                color:#fff;
                font-weight: normal;
                display: inline-block;
                height: auto;
                overflow: hidden;
                text-overflow: inherit;
                width: 100%;
              }
              &.publish-date{
                font-size: 12px;
                color:#fff;
                font-weight: 300;
                display: block;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }


  .single-category{
    .page-playlist-list{
      ul{
        height: auto;
      }
    }
  }

}


//SEARCH

$primary-color: #22313F;
$secondary-color: #e91e63;
$placeholder-color: #EEE;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
  letter-spacing: 0.2px;

  .wrapper {
    padding: 50px;
  }

  &.mode-search {
    overflow: hidden;

    .form,
    .icon-close {
      opacity: 1;
      transform: none;
      pointer-events: all;
    }

    .control {
      .icon-search {
        opacity: 0;
      }
      .btn {
        transform: scale(70);
      }
    }

  }
}

.header {
  position: relative;
  height: 50%;
  width: 100%;
  background: $primary-color;
  color: #FFF;


  }

  .header-content {
    padding : 70px 50px;
    h1,h2 {font-weight: 200; }
  }




.control {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -32px;
  right: 50px;
  cursor: pointer;

   .icon-search,
   .icon-close {
      transition: 0.2s ease-in-out;
    }

    &:hover .btn {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

  }



}
/* Button */

/*Popup Cadastro*/

.login-cadastro-dev-and-test{
  border-top: 5px solid $cor_header;
  .description{
    width: 100%;
    color: #000;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;

  }

  .separador{
    width: 100%;
    text-align: center;
    display: block;
    padding: 20px 0px;
    padding-bottom: 0px;
    font-size: 18px;
    color:#424242;
  }

  .btn-login{
    margin-top: 20px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon-btn-login{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: auto;
    span{
      margin-right: 10px;
      display: inline-block;
    }
  }

}

.fade-top , .fade-interno{
  width: 100%;
  z-index: 1100;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: .8;
  top:-100%;
  transition: top 0.5s linear;

  &.actived{
    top:0;
  }

}

.fade-interno{
  top:0!important;
  left: -100%;
  transition: left 0.2s linear!important;

  &.actived{
    left: 0;
  }

}

.group-loading{
  width: 100%;
  height: 50%;
  top:22%;
  z-index: 2000;
  text-align: center;
  font-size: 18px;
  left: -100%;
  transition: left 0.2s linear;
  &.actived{
    left: 0;
  }
}

.popup-cadastro{
  overflow: hidden;
  width: 50%;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  top: 25%;
  position: absolute;
  z-index: 1200;
  left: 25%;
  transition: top 0.5s linear;
  &.actived{
    top:15%;
  }
  i{
    float:right;
    font-size: 20px;
    color:#ccc;
    cursor: pointer;

    &:hover{
      color:#000;
    }

  }

}


//INput google material design
.gmd-group-input{
  position: relative;
  margin-top: 20px;
  span{
    position: absolute;
    font-size: 18px;
    left: 5px;
    color:#fff;
    font-weight: 100;
    top: 15px;
    transition: top 0.2s linear;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea{
    border: 0px;
    background-color: transparent;
    width: 100%;
    color:#fff;
    background-color: $cor_box;
    padding: 14px 8px;
    font-size: 18px;
    transition: 0.2s linear;
  }

  textarea{
    padding-top: 12px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus{
    outline: 0px;
    border-bottom: 2px solid $cor_header;
    & ~ span{
      font-size: 13px;
      top: 0;
    }
  }
}

//Page - Cadastros
.page-cadastro{
  h1{
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
  }

  p.obs{
    color:#fff;

  }
}


//Homepage
.card-dark {
  padding-right: 0px;
  position: relative;

  .long-card{
    z-index: 1;
    height: 387px;
  }

  .short-card{
    cursor: pointer;
    overflow: visible!important;
    z-index: 10;
    height: 180px;
    position: relative;
    &:hover{
      box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1),0 4px 15px 0 rgba(255, 255, 255, 0.1);
      .list-cases{
        display: block;
        box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1),0 4px 15px 0 rgba(255, 255, 255, 0.1);
      }
    }

    .list-cases{
      position: absolute;
      z-index: 1000;
      height: 300px;
      overflow-y: auto;
      padding: 15px;
      display: none;
      background-color: #1C272D;
      width: 100%;
      left: 0px;
      top:180px;
    }

  }

  .card-information{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    background-color: #1C272D;
    padding: 15px 15px;
    margin-top: 15px;
    overflow-y: auto;



    .graphic,
    .dados{
      width: 50%;
      padding: 1px 0px;
      float: left;
    }


    .dados{
      .number{
        display: block;
        text-align: right;
        font-size: 35px;
        line-height: 102px;
        color: #fff;
      }

      .date{
        display: block;
        text-align: right;
        font-size: 15px;
        color: #fff;
      }

    }


    .select-branch{
      float: left;
      width: 40%;

      select{
        background: rgba(152, 166, 173, 0.3);
        border: 1px solid rgba(152, 166, 173, 0.5);
        border-radius: 0px;
        color: #cccccc;
        height: 20px;
        width: 100%;
      }
    }

    span.title-card{
      color:#fff;
      display: block;
      font-weight: bold;
      font-size: 15px;
      line-height: 16px;
      margin-bottom: 30px;
    }

    span.title-total{
      display: inline-block;
      float: left;
      width: 60%;
    }

  }

  .card-sucess{
    .pie{
      background: conic-gradient(#62B53C 20%, #2f3e47 0);
    }
  }

  .card-warning{
    .pie{
      background: conic-gradient(#2f3e47 60% , #FF9903 0, #FF9903 100%, #2f3e47 0);
    }
  }

  .card-alert{
    .pie{
      background: conic-gradient(#2f3e47 20% , #FC412F 0, #FC412F 60%, #2f3e47 0);
    }
  }


  .number-of-category{
    font-size: 26px;
  }

  .scrollTable{
    height: 312px;
    overflow:hidden;
    overflow-y: hidden;
    &:hover{
      overflow-y: auto;
    }
  }

  .list-information{
    width: 100%;
    thead{
      border-bottom: 1px solid #fff;
      tr{
        th{
          color:#fff;
          padding: 5px 5px;
          padding-top: 0px;
          font-size: 15px;

          &.status{
            text-align: center;
          }
        }
      }
    }
    tbody{
      tr{
        &:hover{
          td{
            background-color: rgb(48, 65, 74);
          }
        }

        td{
          padding: 10px 5px;
          color:#D8D7D7;
          font-size: 14px;
          line-height: 1.42857143;
          vertical-align: top;

          &.link{
            a{
              width: 100%;
              display: block;
              color: #fff;
            }
          }

          &.status{
            text-align: center;
          }
          &.success{
            i{
              color: #62B53C ;
            }

          }

          &.warning{
            i{
              color: #FF9903 ;
            }
          }

          &.error{
            i{
              color:  #FC412F ;
            }
          }

          a{
            width: 100%;
            display: block;
          }

        }
      }
    }

  }

}
//Telas de cadastro

.wrap-preview{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
  h2{
    color:#C1BEBE;
    font-size: 25px;
  }
  img{
    width: 100%;
  }
}

.wrap-formulario{
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #1C272D;
  h1{
    color:#C1BEBE;
    font-size: 25px;
  }
  form{
    .group-form{
      margin-top: 15px;
      span{
        color: #98a6ad;
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }
      label{
        color: #98a6ad;
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }

      span.obs{
        font-size: 12px;
        margin-top: 5px;
        font-weight: normal;
        color:#C1BEBE;
      }

	  input[type="text"],
	  input[type="password"],
      select,
      textarea{
        padding: 5px 2.5px;
        width: 100%;
        background-color: #394c57;
        border: 2px solid rgba(238, 238, 238, 0.1);
        color: #ffffff;
        height: 36px;
        max-width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;

        &:focus{
          background-color: #435966;
          border: 2px solid rgba(238, 238, 238, 0.3);
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: 0 !important;
          color: #ffffff;
        }

        &.invalid{
          background-color: rgb(235, 157, 157);
          border: 2px solid rgb(245, 80, 80);
        }
      }

      textarea{
        height: 75px;
      }
    }
    .group-check{
      label{
        color: #fff;
      }
    }

    .group-btn{
      width: 100%;
      .btn{
        margin-left: 10px;
        float: right;
      }
      .btn-reset{
        background-color: #dae6ec;
        border-color: #dae6ec;
        color: #000;
      }
    }
  }


}


// Table Teste
.table-testes{
  table{
    width: 100%;

    thead{
      tr{
        th{
          padding: 8px 5px;
          border-bottom: 1px solid #fff;
          font-size: 15px;
          text-align: left;
          color: #fff;
          text-align: center;
        }
      }
    }//Thead

    tbody{
      tr{
        th{
          color:#fff;
        }
        td{

        }
      }
    }//tbody

  }
}


.wrap-controls{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  max-height: 30%;

  button{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #253138;
    padding: 10px;
    border-radius: 5px;

    span{
      font-size: 16px;
    }

    i{
      font-size: 17px;
    }

  }

  .terminal-base {
	  max-width: 100%;
	  height: 30%!important;
	  min-height: 30%!important;
  }
}

.fade-search{
  position: absolute;
  top: 50px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0 ,0 , 0, 0.7);
}


.wrap-campo-busca{
  position: absolute;
  top:50px;
  background-color: #000;
  width: 100%;
  padding: 30px 0px;
  z-index: 10000;


  .header-busca{
    width: 100%;
    padding: 0px 10px 10px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    h6{
      float: left;
      font-size: 24px;
      font-weight: 200;
      color: #fff;
    }

    span{
      float: right;
      font-weight: 200;
      font-size: 14px;
      color:#fff;
      margin-top: 15px;

      b{
        font-weight: bold;
      }

    }
  }



  .container-busca{
    ul{
      padding-left: 10px;
      list-style: none;
      padding-top: 10px;
      li{
        width: 100%;
        a{
          width: 100%;
          color: #fff;
          span{
            font-size: 15px;
            font-weight: 200;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
}


//Responsive menu
.description{
  display: none;
}
.show-mobile{
  display: none!important;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 15px 5px;
  padding-left: 10px;

  &.mobile-bg-black{
    display: block;
    background-color: #1A2A33;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  .title-menu{
    float: left;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    text-transform: uppercase;
  }

  .icon-login{

    img{
      width: 20px;
      margin-right: 10px;
    }
  }


  i{
    float: right;
    font-size: 18px;
    margin-right: 12px;
  }
}


.wrap-busca-mobile{
  height: 51px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  background-color: #334c5a;
  position: relative;


  i{
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 20px;
    color: #fff;
  }

  input{
    width: 100%;
    height: 51px;
    padding:0px 25px 0px 35px;
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 16px;
    outline: 0;
    margin-top: -15px;

    &::-webkit-input-placeholder {
      color: #fff;
      font-size: 16px;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #fff;
       font-size: 16px;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;
       font-size: 16px;
    }

    &:-ms-input-placeholder {
       color: #fff;
       font-size: 16px;
    }

  }
}

.fade-menu-mobile{
  width: 100%;
  position: absolute;
  top:103px;
  background-color: rgba(0,0,0 , 0.7);
  height: 100%;
  z-index: 100;

  ul{
    li{
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.53);
      background-color: #000;
      padding-left: 15px;
      padding-top: 10px;
      overflow: hidden;

      &:last-child{
        border-bottom: 0px;
      }
    }
  }

}


.hide-desktop{
    display: none;
}

.hide-mobile{
  display: block;
}

//Responsive
@media (max-width: 768px){//Midia query para tablet
  .header-widget{
    .header-widget-login {

      .name-user{
        display: none;
      }


      .form-search-header{
        width: 150px;
      }
    }
  }

  .card-dark {
    .scrollTable{
      overflow: auto;
      overflow-y: auto;
    }
  }


  .page-content{
    padding-left: 64px;
    padding-top: 54px;
  }

  .wrap-preview,
  .page-playlist{
    margin-top: 30px;
  }


}//End media query para tablet


@media (max-width: 425px){//Media query para mobile
  .select-type,
  .form-search-header,
  .more,
  .hide-mobile,
  .name-user,
  li.clear {
    display: none;
  }

  .hide-desktop{
    display: inline-block;
  }

  .hide-mobile{
    display: none!important;
  }


  .description{
    display: inline-block;
    margin-top: 2px;
  }

  .fade-top,
  .fade-interno{
    z-index: 100;
  }

  .header-widget-logo{
    i{
      margin-left: 0px;
      padding: 0px;
      margin-right: 15px;
      font-size: 20px;
    }
  }


  .wrap-select-mobile-menu{
    height: 51px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);

    select{
      width: 100%;
      height: 100%;
    }
    i{
      position: absolute;
      top: 15px;
      right: 0;
    }
  }



  .show-mobile{
    display: block!important;
  }

  .wrap-menu {
    width: 80%;
    overflow: hidden;
    position: absolute;
    margin-top:0px;
    left: -100%;

    &.active{
      left: 0;
    }

    .item-menu {
      padding-left: 10px;
      position: initial;

      &.active {

		.dropdown {
          left: 0;
        }
      }

      span {
        overflow: hidden;
        display: block;
        i {
          float: left;
          margin-right: 15px;
          width: 20px;
        }
        .description{
          font-size: 14px;
          float: left;
        }
      }


      .dropdown{
        left: -100%;
        width: 100%!important;
        top: 52px;
        height: 100%;
        z-index: 100;
        -webkit-transition-duration: .5s; /* Safari */
        transition-duration: .5s;
        background-color: #334c5a;

        .title{
          padding-left: 20px;
          background: #253138!important;

          :hover{
            background: #253138!important;
          }

          i{
            position: absolute;
            left:10px;
            top:16px;
            font-size: 18px;
            color: #fff;

          }
        }

        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.27);
        }
      }
    }

    .item-menu,a{
      text-align: left;
    }
  }

  .page-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    .page-playlist {
      margin-top: 30px;

      .page-playlist-list{
        ul{
          height: auto;
          overflow: auto;
        }
      }


      .page-playlist-title{
        h2{
          font-size: 20px;
          padding: 5% 0px;
        }
      }
    }

    .page-content-player {

      .page-player{
        width: 100%;
        height: 0px;
        margin: 0 auto;
        margin-top: 8px;
        padding-bottom: 56.63%;
        height: 0px!important;
        position: relative;
        iframe{
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .page-content-information{
        padding: 15px 0px;

        .publish-description{
          p{
            font-size: 15px;
          }
        }


        .favoritos{
          margin-top: -50px!important;
        }

        .wrap-status{
          margin-top: 15px;
        }


        .publish-date{
          font-size: 15px;
        }
      }
    }

  }


  .card-dark {
    padding: 0px;
    .scrollTable{
      height: auto;
      overflow: auto;
      overflow-y: auto;
    }
  }

  .page-player{
    height: auto!important;
    iframe{
      width: 100%;
      height: 100%;
    }
  }


  .wrap-controls {
    button{
      width: 80%;
      margin: 0 auto;
      display: block;
      margin-bottom: 8px;
    }
  }

}

pre {
  padding: 0px;
  border: 1px solid #20201d;
  background-color: #20201d;
  width: 100%;
}

.wrap-labels{
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: 5px;
  margin-top: 5px;
  span{
    margin-bottom: 5px;
    display: inline-block;
  }
}


.wrap-labels-select{
  list-style: none;
  padding: 0px;
  margin-top: 15px;
  li{
    overflow: hidden;
    width: 100%;
    height: 35px;
    cursor: pointer;
    padding: 0px 5px;
    line-height: 35px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.3);
    &:hover{
      background-color: #616161;
    }
    &.active{
      i{
        opacity: 1;
      }
    }
    .color,i,span{
      float:left;
    }
    span{
      color: #fff;
    }
    .color{
      width: 14px;
      height: 14px;
      border-radius: 3px;
      background-color: #cecece;
      margin-right: 10px;
      margin-top: 9px;
    }
    i{
      margin-top: 8px;
      font-size: 16px;
      color: #fff;
      opacity: 0;
      &.fa-check{
        margin-right: 20px;
      }
      &.fa-times{
        float: right;
      }

    }
  }
}

.label{
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 5px;
}

.wrap-color{
  ul{
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;
    li{
      float: left;
      position: relative;

      input[type="radio"]{
        top: 0;
        left:0;
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: visible;
        margin-left: 0px;
        z-index: 100;
        opacity: 0;


        &:checked{
          + span{
            &:before{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              text-align: center;
              background-color: rgba(0,0,0,0.4);
              z-index: 1;
            }
            &:after{
              content: "";
              position: absolute;
              top: 3px;
              left: 3px;
              width: 6px;
              height: 15px;
              border-top: 2px solid transparent;
              border-left: 2px solid transparent;
              border-right: 2px solid #FFFFFF;
              border-bottom: 2px solid #FFFFFF;
              -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
              z-index: 1;
            }
          }
        }
      }

      span{
        width: 25px;
        cursor: pointer;
        height: 25px;
        margin-bottom: 0px!important;
        display: block;
        position: relative;

      }
    }
  }
}
